.card {
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 1px 5px black;
    background: white;
}

.card h3 {
    color: red;
}

.btnDelete {
    background-image: url(../Card/img/cancel.png);
    float: right;
    width: 25px;
    height: 25px;
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    border: none;
    outline: none;
    margin: 10px;
}

.btnDelete:hover {
    cursor: pointer;
}