form input {
    height: 25px;
    width: 160px;
    margin: 10px;
    text-align: center;
  }

  form {
    display: block;
    margin: 0 auto;
  }

  form button {
    height: 25;
    width: 160px;
    margin: 10px;
}